.game-header {
    background-image: url('./images//contactbg.png');
    width: 100vw; 
    margin-left: calc(-50vw + 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 390px;
    margin-top: -175px;
    border-radius: 50px;
}
  
.game-header-title {
    padding-top: 80px;
    font-size: 46px;
    font-weight: 600;
}
  
.game-highlight {
    color: #FF8600;
}
  
.game-form-section {
    width: 976px;
    background-color: #EBEBEB80;
    padding: 80px;
    margin-left: -150px;
}
  
.game-form-label {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding-left: 10px;
}
  
.game-button {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    background-color: #FF8600;
    border: none;
    border-radius: 5px;
}
.game-button:focus,
.game-button:active,
.game-button:focus:active {
    box-shadow: none;
    outline: none;
    background-color: #FF8600;
    color: #fff;
    border: #FF8600;
}
  
.game-button:hover {
    background-color: darkorange;
}
  
.game-button-container {
    padding-top: 80px;
    padding-left: 650px;
}
  
.game-address {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}
  
.social-icons a {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #000;
}
  