.casa-section {
    background-image: url('./images/casabg.png');
    width: 100vw; 
    margin-left: calc(-50vw + 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: -175px;
}

.casa-lebestow-heading {
    font-size: 64px;
    font-weight: 700;
    color: #FF8E00;
    margin-left: -600px;
    padding-top: 50px;
}

.casa-lebestow-sub-heading-two {
    font-size: 64px;
    font-weight: 700;
    color: #000;
    margin-left: -600px;
}

.casa-lebestow-location {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    margin-left: -600px;
    padding-top: 40px;
}

.casa-lebestow-rooms {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-left: -600px;
    padding-top: 40px;
}

.floor-rooms {
    background-color: #FF8E00;
}

.explorefloors-section {
    background-color: black;
    width: 100vw; 
    margin-left: calc(-50vw + 50%);
    color: #fff;
    display: flex;
    position: relative;
    overflow: hidden;
}

.explorefloors-head {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.explorefloors-body {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.select-section {
    background-color: #fff;
    box-shadow:0 4px 20px #FF8600;
    width: 800px;
    border-radius: 40px;
    padding: 6px 10px;
    text-align: center;
    margin-left: 230px;
    margin-top: 20px;
}
.select-floor {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    width: 400px;
}

.filter {
    font-size: 24px;
    font-weight: 500;
    color: black;
    background-color: #DEDEDE;
    padding: 6px 25px;
    border-radius: 25px;
    border: #DEDEDE;
}

.filter:hover {
    color: black;
    background-color: #DEDEDE;
    border: #DEDEDE;
}

.fliter-search {
    font-size: 24px;
    font-weight: 500;
    color: black;
    background-color:#FF8600;
    padding: 6px 25px;
    border-radius: 25px;
    border: #FF8600;
}

.fliter-search:hover {
    color: black;
    background-color:#FF8600;
    border: #FF8600;
}

.vertical-scroll-wrapper {
    max-height: 400px; 
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
  
  /* Optional custom scrollbar styling */
.vertical-scroll-wrapper::-webkit-scrollbar {
    width: 8px;
}
  
.vertical-scroll-wrapper::-webkit-scrollbar-track {
    background: #fff;
}
  
.vertical-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 4px;
}
  
.vertical-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
  
.table-titles th,
.table-body td {
    white-space: nowrap;
    text-align: center;
}
  
.table-titles {
    font-size: 24px;
    font-weight: 400;
}
  
.table-body {
    font-size: 24px;
    font-weight: 400;
}
  
.table {
    border-collapse: collapse;
}

.photo-custom {
    background-color: #FF8600;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    border: #FF8600;
}

.photo-custom:hover {
    background-color: #FF8600;
    color: #000;
    border: #FF8600;
}

.photo-custom:focus,
.photo-custom:active,
.photo-custom:focus:active {
    box-shadow: none;
    outline: none;
    background-color: #FF8600;
    color: #000;
    border: #FF8600;
}
  
.meal-card {
    border-radius: 20px;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.5) !important;
}
  
.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #FF8E00;
}

.food-menu-heading {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to right, #FF8600, #666666);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.foodmenu-heading {
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    background-color: #FF8E00;
}

.foodmenu-body {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background-color: #555E5D;
}

.foodmenu-list {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background-color: #555E5D;
    border-bottom: none;
}

.foodmenu-img {
    border-radius: 0;
}

.foodmenu-custom {
    background-color: #FF8E00; 
    color: white;
    border: #FF8E00;
    border-radius: 80px;
    padding: 6px 20px;
}

.foodmenu-custom:hover {
    background-color: #FF8E00; 
    color: white;
    border: #FF8E00;
}
  
.foodmenu-outline-custom {
    border: 1px solid #FF8E00;
    color: #FF8E00;
    background-color: transparent;
    border-radius: 80px;
    padding: 6px 20px;
}
  
.foodmenu-outline-custom:hover {
    background-color: #FF8E00;
    color: white;
    border: #FF8E00;
}
.foodmenu-custom:focus,
.foodmenu-custom:active,
.foodmenu-custom:focus:active,
.foodmenu-outline-custom:focus,
.foodmenu-outline-custom:active,
.foodmenu-outline-custom:focus:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #FF8E00 !important; 
  color: white !important;
  border-color: #FF8E00 !important;
}

.rentingterms-heading {
    font-size: 64px;
    font-weight: 700;
    background-image: linear-gradient(to right, #FF8E00, #666666);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 10px;
}

.renting-card {
    background-color: #FFC67F80;
    width: 316px;
    height: 185px;
    border: none;
    border-radius: 10px;
}

.propertyrules-heading {
    font-size: 64px;
    font-weight: 700;
    background-image: linear-gradient(to right, #FF8E00, #666666);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 60px;
    text-align: center;
}

.ourvisuals-heading {
    font-size: 64px;
    font-weight: 700;
    background-image: linear-gradient(to right, #FF8E00, #666666);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 10px;
    text-align: center;
}

.similar-properties {
    font-size: 64px;
    font-weight: 700;
    color: #000;
}

.airabhuvan-image {
    height: 300px;
    object-fit: cover;
}

.airabhuvan-title-one {
    font-size: 24px;
    font-weight: 700;
    color: #FF8E00;
}

.airabhuvan-title-two {
    font-size: 24px;
    font-weight: 700;
    color: #5C5C5C;
}

.airabhuvan-details {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #FF8600;
    border: #FF8600;
    padding: 6px 190px;
}

.airabhuvan-details:hover {
    background-color: #FF8600;
    color: #fff;
}

.airabhuvan-card {
    border: #FF8600;
    box-shadow:0 4px 20px #FF8600;
    width: 490px;
    height: 480px;
}

.map-responsive iframe {
    height: 350px;
    width: 100vw; 
    margin-left: calc(-50vw + 50%) !important;
    margin-bottom: -50px;
}

/* Hero section*/

@media (min-width: 1284px) {
    .casa-lebestow-heading,
    .casa-lebestow-sub-heading-two,
    .casa-lebestow-location,
    .casa-lebestow-rooms {
      margin-left: -600px;
      font-size: 64px;
    }
    .casa-lebestow-location,
    .casa-lebestow-rooms {
      font-size: 32px;
    }
  }
  
  @media (min-width: 1199px) and (max-width: 1283px) {
    .casa-lebestow-heading {
        font-size: 56px;
      margin-left: -500px;
    }
    .casa-lebestow-sub-heading-two {
      font-size: 56px;
      margin-left: -500px;
    }
    .casa-lebestow-location,
    .casa-lebestow-rooms {
      font-size: 28px;
      margin-left: -500px;
    }
  }
  
  @media (min-width: 991px) and (max-width: 1198px) {
    .casa-lebestow-heading {
        font-size: 40px;
        margin-left: -390px;
        margin-top: -70px;
      }
    
      .casa-lebestow-sub-heading-two {
        font-size: 40px;
        margin-left: -390px;
        margin-top: 30px;
      }
    
      .casa-lebestow-location {
        font-size: 28px;
        margin-left: -390px;
        margin-top: 10px;
      }
    
      .casa-lebestow-rooms {
        font-size: 22px;
        margin-left: -390px;        
        text-align: left;
        align-self: flex-start; 
        margin-top: 30px;    
      }
    
      .casa-section {
        background-image: url('./images/casabg.png');
        background-size: cover;
        height: 80vh;
        padding-top: 30px;
        display: flex;               
        flex-direction: column;
        align-items: center;
      }
  }
  
  @media (max-width: 990px) and (min-width: 800px) {
    .casa-lebestow-heading {
        font-size: 40px;
        margin-left: -390px;
        margin-top: -70px;
      }
    
      .casa-lebestow-sub-heading-two {
        font-size: 40px;
        margin-left: -390px;
        margin-top: 30px;
      }
    
      .casa-lebestow-location {
        font-size: 28px;
        margin-left: -390px;
        margin-top: 10px;
      }
    
      .casa-lebestow-rooms {
        font-size: 22px;
        margin-left: -390px;        
        text-align: left;
        align-self: flex-start; 
        margin-top: 30px;    
      }
    
      .casa-section {
        background-image: url('./images/casabg.png');
        background-size: cover;
        height: 80vh;
        padding-top: 30px;
        display: flex;               
        flex-direction: column;
        align-items: center;
      }
  }
  
  @media (max-width: 799px) and (min-width: 768px) {
    .casa-lebestow-heading {
        font-size: 32px;
        margin-left: -280px;
        margin-top: 100px;
      }
    
      .casa-lebestow-sub-heading-two {
        font-size: 32px;
        margin-left: -280px;
      }
    
      .casa-lebestow-location {
        font-size: 20px;
        margin-left: -270px;
        margin-top: -40px;
      }
    
      .casa-lebestow-rooms {
        font-size: 18px;
        margin-left: -280px;        
        text-align: left;
        align-self: flex-start; 
        margin-top: -30px;    
      }
    
      .casa-section {
        background-image: url('./images/casabg.png');
        background-size: cover;
        height: auto;
        padding-top: 30px;
        display: flex;               
        flex-direction: column;
        align-items: center;
      }
  }
  
  @media (max-width: 767px) and (min-width: 572px) {
    .casa-lebestow-heading {
        font-size: 24px;
        margin-left: -220px;
        margin-top: 100px;
      }
    
      .casa-lebestow-sub-heading-two {
        font-size: 24px;
        margin-left: -220px;
      }
    
      .casa-lebestow-location {
        font-size: 15px;
        margin-left: -210px;
        margin-top: -40px;
      }
    
      .casa-lebestow-rooms {
        font-size: 14px;
        margin-left: -230px;        
        text-align: left;
        align-self: flex-start; 
        margin-top: -30px;    
      }
    
      .casa-section {
        background-image: url('./images/casabg.png');
        background-size: cover;
        height: auto;
        padding-top: 30px;
        display: flex;               
        flex-direction: column;
        align-items: center;
      }
  }
  
  @media (max-width: 571px) and (min-width: 480px) {
    .casa-lebestow-heading {
        font-size: 24px;
        margin-left: -220px;
        margin-top: 100px;
      }
    
      .casa-lebestow-sub-heading-two {
        font-size: 24px;
        margin-left: -220px;
      }
    
      .casa-lebestow-location {
        font-size: 15px;
        margin-left: -210px;
        margin-top: -40px;
      }
    
      .casa-lebestow-rooms {
        font-size: 14px;
        margin-left: -230px;        
        text-align: left;
        align-self: flex-start; 
        margin-top: -30px;    
      }
    
      .casa-section {
        background-image: url('./images/casabg.png');
        background-size: cover;
        height: auto;
        padding-top: 30px;
        display: flex;               
        flex-direction: column;
        align-items: center;
      }
  }
  
  @media (max-width: 479px) and (min-width: 381px) {
    .casa-lebestow-heading {
        font-size: 20px;
        margin-left: -190px;
        margin-top: 100px;
      }
    
      .casa-lebestow-sub-heading-two {
        font-size: 20px;
        margin-left: -190px;
      }
    
      .casa-lebestow-location {
        font-size: 12px;
        margin-left: -190px;
        margin-top: -40px;
      }
    
      .casa-lebestow-rooms {
        font-size: 12px;
        margin-left: -210px;        
        text-align: left;
        align-self: flex-start; 
        margin-top: -30px;    
      }
    
      .casa-section {
        background-image: url('./images/casabg.png');
        background-size: cover;
        height: auto;
        padding-top: 30px;
        display: flex;               
        flex-direction: column;
        align-items: center;
      }
  }
  
  @media (max-width: 380px) {
    .casa-lebestow-heading {
      font-size: 20px;
      margin-left: -175px;
      margin-top: 100px;
    }
  
    .casa-lebestow-sub-heading-two {
      font-size: 20px;
      margin-left: -175px;
    }
  
    .casa-lebestow-location {
      font-size: 12px;
      margin-left: -170px;
      margin-top: -40px;
    }
  
    .casa-lebestow-rooms {
      font-size: 12px;
      margin-left: -170px;        
      text-align: left;
      align-self: flex-start; 
      margin-top: -30px;    
    }
  
    .casa-section {
      background-image: url('./images/casabg.png');
      background-size: cover;
      height: auto;
      padding-top: 30px;
      display: flex;               
      flex-direction: column;
      align-items: center;
    }
  }

/* rooms */


/* 1199px - 1283px */
@media (max-width: 1283px) and (min-width: 1200px) {
    .select-section {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .explorefloors-head,
    .propertyrules-heading,
    .ourvisuals-heading,
    .similar-properties,
    .rentingterms-heading {
      font-size: 48px;
    }
  
    .explorefloors-body,
    .table-body,
    .table-titles th {
      font-size: 28px;
    }
  
    .select-floor {
      width: 300px;
    }
    .propertyrules-img {
        width: 100%;
        margin-left: 30px;
        margin-top: -30px;
    }
  }
  
  /* 991px - 1199px */
  @media (max-width: 1199px) and (min-width: 992px) {
    .select-section {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .explorefloors-head,
    .propertyrules-heading,
    .ourvisuals-heading,
    .similar-properties,
    .rentingterms-heading {
      font-size: 40px;
    }
  
    .explorefloors-body {
      font-size: 24px;
    }
  
    .select-floor {
      width: 250px;
      font-size: 20px;
    }
  
    .table-titles th,
    .table-body td {
      font-size: 20px;
    }
  
    .airabhuvan-details {
      padding: 6px 100px;
    }
    .propertyrules-img {
        width: 100%;
        margin-left: 0px;
        margin-top: -30px;
    }
  }
  
  /* 800px - 991px */
  @media (max-width: 991px) and (min-width: 801px) {
    .select-section {
      flex-direction: column;
      width: 500px;
      margin: 0 auto;
    }
  
    .select-floor,
    .form-control {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .explorefloors-head,
    .propertyrules-heading,
    .ourvisuals-heading,
    .similar-properties,
    .rentingterms-heading {
      font-size: 36px;
    }
  
    .airabhuvan-details {
      padding: 6px 80px;
    }
    .propertyrules-img {
        width: 100%;
        margin-left: 0px;
        margin-top: -30px;
    }
  }
  
  /* 768px - 800px */
  @media (max-width: 800px) and (min-width: 768px) {
    .select-section {
      flex-direction: column;
      width: 450px;
      margin: 0 auto;
    }
  
    .explorefloors-head,
    .propertyrules-heading,
    .ourvisuals-heading,
    .similar-properties {
      font-size: 32px;
    }
  
    .explorefloors-body {
      font-size: 20px;
    }
  
    .table-body td,
    .table-titles th {
      font-size: 18px;
    }
    .propertyrules-img {
        width: 100%;
        margin-left: 30px;
        margin-top: -30px;
    }
  }
  
  /* 572px - 767px */
  @media (max-width: 767px) and (min-width: 573px) {
    .select-section {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
    }
  
    .explorefloors-head,
    .propertyrules-heading,
    .ourvisuals-heading,
    .similar-properties {
      font-size: 28px;
    }
  
    .explorefloors-body {
      font-size: 18px;
    }
  
    .table-body td,
    .table-titles th {
      font-size: 16px;
    }
  
    .airabhuvan-details {
      padding: 6px 60px;
    }
    .propertyrules-img {
        width: 100%;
        margin-left: 30px;
        margin-top: -30px;
    }
  }
  
  /* 480px - 572px */
  @media (max-width: 572px) and (min-width: 481px) {
    .select-section {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
    }
  
    .explorefloors-head,
    .propertyrules-heading,
    .ourvisuals-heading {
      font-size: 24px;
    }
  
    .explorefloors-body {
      font-size: 16px;
    }
  
    .select-floor {
      width: 100%;
      font-size: 16px;
    }
  
    .table-titles th,
    .table-body td {
      font-size: 14px;
    }
  
    .airabhuvan-details {
      padding: 6px 40px;
    }
    .propertyrules-img {
        width: 85%;
        margin-left: 40px;
        margin-top: -30px;
    }
  }
  
  /* 380px and below */
  @media (max-width: 380px) {
    .explorefloors-head,
    .propertyrules-heading,
    .ourvisuals-heading {
      font-size: 20px;
    }
  
    .explorefloors-body {
      font-size: 14px;
    }
  
    .select-section {
      width: 95%;
      padding: 10px;
      flex-direction: column;
      margin: 0 auto;
    }
  
    .select-floor {
      width: 100%;
      font-size: 14px;
    }
  
    .table-titles th,
    .table-body td {
      font-size: 12px;
    }
  
    .airabhuvan-details {
      padding: 6px 20px;
      font-size: 12px;
    }
    .propertyrules-img {
        width: 85%;
        margin-left: 30px;
        margin-top: -30px;
    }
  }
  
  
  
  
  