.terms-box {
    max-width: 1200px;
    height: auto;
    margin: auto;
    font-size: 0.95rem;
    position: relative;
    border-radius: 82px !important;
}
  
.terms-logo-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.12;
    width: 350px;
    height: 350px !important;
    z-index: 0;
    pointer-events: none;
}
  
.terms-body {
    font-size: 24px;
    font-weight: 300;
    z-index: 1;
    position: relative;
    padding-top: 25px;
}
  
.divider {
    width: 800px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    border-left: 8px solid white;
    border-right: 8px solid white;
    position: relative;
}
  
.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    background: orange;
}
  
.divider::before {
    left: -10px;
}
  
.divider::after {
    right: -10px;
}
  
.terms-heading {
    font-size: 40px;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
}


@media (max-width: 1199px) {
    .terms-box {
      padding: 2rem;
      font-size: 0.95rem;
    }
  
    .terms-logo-bg {
      width: 250px;
      height: 250px;
    }
  
    .terms-heading {
      font-size: 36px;
    }
  
    .divider {
      width: 100%;
    }
  
    .terms-body {
      font-size: 22px;
    }
}
  

@media (max-width: 991px) {
    .terms-box {
      padding: 1.5rem;
    }
  
    .terms-logo-bg {
      width: 200px;
      height: 200px;
    }
  
    .terms-heading {
      font-size: 32px;
    }
  
    .divider {
      width: 80%;
    }
  
    .terms-body {
      font-size: 20px;
    }
}
  
  
@media (max-width: 767px) {
    .terms-box {
      padding: 1rem;
    }
  
    .terms-logo-bg {
      width: 150px;
      height: 150px;
    }
  
    .terms-heading {
      font-size: 28px;
    }
  
    .divider {
      width: 60%;
    }
  
    .terms-body {
      font-size: 18px;
    }
}
  
 
@media (max-width: 575px) {
    .terms-box {
      padding: 1rem;
    }
  
    .terms-logo-bg {
      width: 120px;
      height: 120px;
    }
  
    .terms-heading {
      font-size: 24px;
    }
  
    .divider {
      width: 50%;
    }
  
    .terms-body {
      font-size: 16px;
    }
}
  